
environments:
  dev:
    kubeContext: homelab-dev
    secrets:
    - ./helmfile/environments/dev/secrets/shared-sso.enc.yaml
  prod:
    kubeContext: homelab-prod
    secrets:
    - ./helmfile/environments/prod/secrets/shared-sso.enc.yaml

---

bases:
- ./helmfile/templates.yaml.gotmpl
- ./helmfile/repositories.yaml

---

helmfiles:
- path: helmfile/releases/*
  values:
    - {{ toYaml .Values | nindent 8 }}

---

repositories:
# None here