# MetalLB IPAddressPool for dev environment
# Using Layer 2 mode (ARP) for simplicity in home lab
# https://metallb.universe.tf/configuration/crd/

# Use configInline to configure MetalLB (for Helm chart 0.15.x)
configInline:
  address-pools:
    - name: default
      addresses:
        - 10.0.0.150-10.0.0.160
      auto-assign: true
  l2-advertisement:
    - name: default
