[defaults]
collections_path    = ~/.ansible/collections
inventory           = ./inventory.yml
forks               = 10
pipelining          = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
