# Argo Rollouts config chart values
analysis:
  prometheusAddress: "http://prometheus-stack-kube-prom-prometheus.monitoring-system.svc.cluster.local:9090"

# Sample canary Rollout (demo). Disable once you ship real Rollouts.
demo:
  enabled: true
