clusterIssuer:
  name: "letsencrypt-{{ .Environment.Name }}"
  server: https://acme-v02.api.letsencrypt.org/directory

certificate:
  enabled: true

prometheus:
  enabled: true
  servicemonitor:
    enabled: true
    interval: 30s
    scrapeTimeout: 10s
    labels:
      release: prometheus-stack
