provider:
  name: cloudflare
env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-key
        key: apiKey
source:
  service:
    enabled: true

policy: sync

txtOwnerId: k8s