# External Secrets Operator configuration
# https://external-secrets.io/latest/introduction/overview/

installCRDs: true

serviceMonitor:
  enabled: true
  additionalLabels:
    release: prometheus-stack

webhook:
  serviceMonitor:
    enabled: true
    additionalLabels:
      release: prometheus-stack

certController:
  serviceMonitor:
    enabled: true
    additionalLabels:
      release: prometheus-stack
