# External DNS configuration
# https://artifacthub.io/packages/helm/external-dns/external-dns?modal=values

provider:
  name: cloudflare
env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-key
        key: apiKey

serviceMonitor:
  enabled: true
  interval: 15s
  scrapeTimeout: 10s
  additionalLabels:
    release: prometheus-stack
  
policy: sync

txtOwnerId: k8s