# Longhorn configuration
defaultSettings:
  telemetry: false

# Longhorn UI replica count
longhornUI:
  replicas: 1

# Longhorn UI service as LoadBalancer for MetalLB
service:
  ui:
    type: LoadBalancer
    annotations:
      metallb.universe.tf/address-pool: default
      metallb.universe.tf/allow-zero-ips: "true"

# Prometheus
metrics:
  serviceMonitor:
    enabled: true
    namespace: prometheus
    interval: 15s
    scrapeTimeout: 10s
    additionalLabels:
      release: prometheus-stack
